# Data Cleaning

## Setup
Import the relevant packages.

In [1]:
import ast
import pandas as pd

We have a single file `20220310.csv`. Let's first look at what type of data we 
are dealing with.

In [2]:
# load in csv as dataframes
# lineterminator option is used as there are some line separation issues.
raw_data = pd.read_csv("raw-data/20220310.csv", lineterminator="\n")

# get summary information on the data frame, including columns and data types
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  5000 non-null   bool
 1   backdrop_path          4874 non-null   object
 2   belongs_to_collection  1742 non-null   object
 3   budget                 5000 non-null   int64
 4   genres                 5000 non-null   object
 5   homepage               2418 non-null   object
 6   id                     5000 non-null   int64
 7   imdb_id                4938 non-null   object
 8   original_language      5000 non-null   object
 9   original_title         5000 non-null   object
 10  overview               4963 non-null   object
 11  popularity             5000 non-null   float64
 12  poster_path            4995 non-null   object
 13  production_companies   5000 non-null   object
 14  production_countries   5000 non-null   object
 15  release_date           4980 non-null   object
 16  revenue                5000 non-null   int64
 17  runtime                4999 non-null   float64
 18  spoken_languages       5000 non-null   object
 19  status                 5000 non-null   object
 20  tagline                3750 non-null   object
 21  title                  5000 non-null   object
 22  video                  5000 non-null   bool
 23  vote_average           5000 non-null   float64
 24  vote_count             5000 non-null   int64
 25  credits                5000 non-null   object
 26  keywords               5000 non-null   object
dtypes: bool(2), float64(3), int64(4), object(18)
memory usage: 986.5+ KB

Let's also look at the first few rows to see what we are dealing with.

In [3]:
raw_data.head()
raw_data.iloc[[0]].transpose()

                                                                       0
adult                                                              False
backdrop_path                           /iQFcwSGbZXMkeyKrxbPnwnRo5fl.jpg
belongs_to_collection  {'id': 531241, 'name': 'Spider-Man (Avengers) ...
budget                                                         200000000
genres                 [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                            https://www.spidermannowayhome.movie
id                                                                634649
imdb_id                                                       tt10872600
original_language                                                     en
original_title                                   Spider-Man: No Way Home
overview               Peter Parker is unmasked and no longer able to...
popularity                                                     10552.154
poster_path                             /1g0dhYtq4irTY1GPXvft6k4YLjm.jpg
production_companies   [{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...
production_countries   [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                  2021-12-15
revenue                                                       1876685954
runtime                                                            148.0
spoken_languages       [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                          Released
tagline                                        The Multiverse unleashed.
title                                            Spider-Man: No Way Home
video                                                              False
vote_average                                                         8.3
vote_count                                                          9509
credits                {'cast': [{'adult': False, 'gender': 2, 'id': ...
keywords               {'keywords': [{'id': 242, 'name': 'new york ci...

## Data Cleaning

First we remove columns that we will obviously not be using, e.g. `backdrop_path`,
`homepage`, etc.

In [4]:
useless_columns = ["backdrop_path", "belongs_to_collection", "homepage", 
"poster_path", "video"]

raw_data.drop(useless_columns, axis=1, inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 5000 non-null   bool
 1   budget                5000 non-null   int64
 2   genres                5000 non-null   object
 3   id                    5000 non-null   int64
 4   imdb_id               4938 non-null   object
 5   original_language     5000 non-null   object
 6   original_title        5000 non-null   object
 7   overview              4963 non-null   object
 8   popularity            5000 non-null   float64
 9   production_companies  5000 non-null   object
 10  production_countries  5000 non-null   object
 11  release_date          4980 non-null   object
 12  revenue               5000 non-null   int64
 13  runtime               4999 non-null   float64
 14  spoken_languages      5000 non-null   object
 15  status                5000 non-null   object
 16  tagline               3750 non-null   object
 17  title                 5000 non-null   object
 18  vote_average          5000 non-null   float64
 19  vote_count            5000 non-null   int64
 20  credits               5000 non-null   object
 21  keywords              5000 non-null   object
dtypes: bool(1), float64(3), int64(4), object(14)
memory usage: 825.3+ KB

Next we parse `release_date` as a column of date objects, and convert `status` into a Boolean column (`True` for released, `False` otherwise) named `released`.

In [5]:
# parse dates
raw_data["release_date"] = pd.to_datetime(raw_data["release_date"])
# convert status column to Boolean, and only keep released films
raw_data["released"] = raw_data["status"] == "Released"
raw_data.drop(columns=["status"])

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count,credits,keywords,released
0,False,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",634649,tt10872600,en,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,10552.154,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",...,1876685954,148.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",The Multiverse unleashed.,Spider-Man: No Way Home,8.3,9509,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 242, 'name': 'new york ci...",True
1,False,185000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",414906,tt1877830,en,The Batman,"In his second year of fighting crime, Batman u...",3956.450,"[{'id': 101405, 'logo_path': None, 'name': '6t...",...,463220826,176.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Unmask the truth.,The Batman,8.0,1738,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 849, 'name': 'dc comics'}...",True
2,False,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",833425,tt7550014,en,No Exit,Stranded at a rest stop in the mountains durin...,3434.009,"[{'id': 127928, 'logo_path': '/h0rjX5vjW5r8yEn...",...,0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Who will survive the dead of winter?,No Exit,6.5,208,"{'cast': [{'adult': False, 'gender': 1, 'id': ...","{'keywords': [{'id': 818, 'name': 'based on no...",True
3,False,50000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",568124,tt2953050,en,Encanto,"The tale of an extraordinary family, the Madri...",3275.706,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...",...,240000000,102.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",There's a little magic in all of us ...almost ...,Encanto,7.7,5282,"{'cast': [{'adult': False, 'gender': 1, 'id': ...","{'keywords': [{'id': 2343, 'name': 'magic'}, {...",True
4,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",928381,tt14465894,fr,Sans répit,After going to extremes to cover up an acciden...,2371.051,"[{'id': 152208, 'logo_path': None, 'name': 'Br...",...,0,95.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",NaN,Restless,5.9,152,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 9714, 'name': 'remake'}]}",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",245706,tt2273657,en,True Story,A drama centered around the relationship betwe...,26.610,"[{'id': 81, 'logo_path': '/8wOfUhA7vwU2gbPjQy7...",...,5261595,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Some mysteries are beyond belief.,True Story,6.3,1630,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 378, 'name': 'prison'}, {...",True
4996,False,80000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",41515,tt1302067,en,Yogi Bear,A documentary filmmaker travels to Jellystone ...,29.024,"[{'id': 5219, 'logo_path': None, 'name': 'Suns...",...,203509374,80.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Please do not feed the bears.,Yogi Bear,5.6,704,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 2406, 'name': 'picnic'}, ...",True
4997,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",19593,tt0099387,en,The Death of the Incredible Hulk,During the critical experiment that would rid ...,24.156,"[{'id': 4608, 'logo_path': None, 'name': 'New ...",...,0,95.0,"[{'english_name': 'English', 'iso_639_1': 'en'...","For 12 years, he's been running. Tonight, it's...",The Death of the Incredible Hulk,5.0,57,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 9181, 'name': 'alter ego'...",True
4998,False,33000000,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",19898,tt1188729,en,Pandorum,Two crew members wake up on an abandoned space...,24.698,"[{'id': 248, 'logo_path': None, 'name': 'Impac...",...,20648328,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Don't fear the end of the world. Fear what hap...,Pandorum,6.5,1847,"{'cast': [{'adult': False, 'gender': 2, 'id': ...","{'keywords': [{'id': 1612, 'name': 'spacecraft...",True
4999,False,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",24001,tt0907676,en,The Hills Run Red,A group of young horror fans go searching for ...,25.050,"[{'id': 1786, 'logo_path': '/joLFuCWg9e2lweYnF...",...,0,81.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Trespassers will be slaughtered...,The Hills Run Red,5.7,210,"{'cast': [{'adult': False, 'gender': 1, 'id': ...","{'keywords': [{'id': 6259, 'name': 'psychopath...",True

The columns `genres`, `production_companies`, `production_countries`, `spoken_languages`,
`credits`, and `keywords` are lists of quasi-JSON style strings. However, single
quotes have been used, so instead we store them in the dataframe as lists of 
dictionaries.

In [6]:
# parse columns with nested JSON objects as actual JSON objects instead of str
json_cols = [
    "genres", "production_companies", "production_countries", "spoken_languages", 
    "credits", "keywords"
]

for col in json_cols:
    raw_data[col] = raw_data[col].apply(ast.literal_eval)

raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 5000 non-null   bool
 1   budget                5000 non-null   int64
 2   genres                5000 non-null   object
 3   id                    5000 non-null   int64
 4   imdb_id               4938 non-null   object
 5   original_language     5000 non-null   object
 6   original_title        5000 non-null   object
 7   overview              4963 non-null   object
 8   popularity            5000 non-null   float64
 9   production_companies  5000 non-null   object
 10  production_countries  5000 non-null   object
 11  release_date          4980 non-null   datetime64[ns]
 12  revenue               5000 non-null   int64
 13  runtime               4999 non-null   float64
 14  spoken_languages      5000 non-null   object
 15  status                5000 non-null   object
 16  tagline               3750 non-null   object
 17  title                 5000 non-null   object
 18  vote_average          5000 non-null   float64
 19  vote_count            5000 non-null   int64
 20  credits               5000 non-null   object
 21  keywords              5000 non-null   object
 22  released              5000 non-null   bool
dtypes: bool(2), datetime64[ns](1), float64(3), int64(4), object(13)
memory usage: 830.2+ KB

Due to the use of `ast.literal_eval`, we have ended up with the following columns:

- `genres`, `production_companies`, `production_countries`, `spoken_languages` are lists
- `credits` and `keywords` are dictionaries.

Morevover, credits has keys `cast` and `crew`, while keywords simply has one 
key `keywords`. The corresponding values are in the same list of dictionaries structure 
as above. Hence, the best way to clean this data is to create two new columns 
for `cast` and `crew`, and simply reassign the `keywords` column to the actual 
value inside `keywords`.

In [7]:
list_cols = ["genres", "production_companies", "production_countries", "spoken_languages",
                "cast", "crew", "keywords"]

cast = []
crew = []
for movie in raw_data["credits"]:
    cast.append(movie["cast"])
    crew.append(movie["crew"])
raw_data["cast"] = pd.Series(cast)
raw_data["crew"] = pd.Series(crew)

new_keywords = []
for movie in raw_data["keywords"]:
    new_keywords.append(movie["keywords"])
raw_data["keywords"] = pd.Series(new_keywords)

def helper(col):
    new_col = []
    for val in col:
        new_val = []
        for x in val:
            new_val.append(dict(x))
        
        new_col.append(new_val)
    
    return pd.Series(new_col)

for col in list_cols:
    raw_data[col] = helper(raw_data[col])
    print(col + " done")

genres done
production_companies done
production_countries done
spoken_languages done
cast done
crew done
keywords done

We can now drop the `credits` column.

In [8]:
raw_data.drop("credits", axis=1, inplace=True)
raw_data.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,keywords,released,cast,crew
0,False,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",634649,tt10872600,en,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,10552.154,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Multiverse unleashed.,Spider-Man: No Way Home,8.3,9509,"[{'id': 242, 'name': 'new york city'}, {'id': ...",True,"[{'adult': False, 'gender': 2, 'id': 1136406, ...","[{'adult': False, 'gender': 1, 'id': 2519, 'kn..."
1,False,185000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",414906,tt1877830,en,The Batman,"In his second year of fighting crime, Batman u...",3956.450,"[{'id': 101405, 'logo_path': None, 'name': '6t...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Unmask the truth.,The Batman,8.0,1738,"[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",True,"[{'adult': False, 'gender': 2, 'id': 11288, 'k...","[{'adult': False, 'gender': 2, 'id': 2122, 'kn..."
2,False,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",833425,tt7550014,en,No Exit,Stranded at a rest stop in the mountains durin...,3434.009,"[{'id': 127928, 'logo_path': '/h0rjX5vjW5r8yEn...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Who will survive the dead of winter?,No Exit,6.5,208,"[{'id': 818, 'name': 'based on novel or book'}...",True,"[{'adult': False, 'gender': 1, 'id': 2378813, ...","[{'adult': False, 'gender': 2, 'id': 2199, 'kn..."
3,False,50000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",568124,tt2953050,en,Encanto,"The tale of an extraordinary family, the Madri...",3275.706,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a little magic in all of us ...almost ...,Encanto,7.7,5282,"[{'id': 2343, 'name': 'magic'}, {'id': 4344, '...",True,"[{'adult': False, 'gender': 1, 'id': 968367, '...","[{'adult': False, 'gender': 0, 'id': 8159, 'kn..."
4,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",928381,tt14465894,fr,Sans répit,After going to extremes to cover up an acciden...,2371.051,"[{'id': 152208, 'logo_path': None, 'name': 'Br...",...,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Restless,5.9,152,"[{'id': 9714, 'name': 'remake'}]",True,"[{'adult': False, 'gender': 2, 'id': 1077537, ...","[{'adult': False, 'gender': 0, 'id': 64130, 'k..."

The column `genres` has a structure such that each film has a list of key-value pairs, e.g. `['id':28, 'name': 'Action',...]`. We don't need this key-value structure, so we just keep a list of the `name` of genres of a film. Same applies to columns `production_companies`, `production_countries`, `spoken_languages`, and `keywords`.

We don't apply this to `cast` and `crew` because every production team member 
has additional information such as their gender, role, etc..

In [9]:
# need a copy to avoid SettingWithoutCopyWarning
raw_data_copy = raw_data.copy()
for i in range(0, raw_data.shape[0], 1):
    # extract the relevant values of these columns
    genres_names = [x["name"] for x in raw_data_copy.iloc[i]["genres"]]
    production_companies_names = [x["name"] for x in raw_data_copy.iloc[i]["production_companies"]]
    production_countries_names = [x["iso_3166_1"] for x in raw_data_copy.iloc[i]["production_countries"]]
    spoken_languages_names = [x["iso_639_1"] for x in raw_data_copy.iloc[i]["spoken_languages"]]
    keywords_names = [x["name"] for x in raw_data_copy.iloc[i]["keywords"]]

    # reassign entry values
    raw_data.at[i, "genres"] = genres_names
    raw_data.at[i, "production_companies"] = production_companies_names
    raw_data.at[i, "production_countries"] = production_countries_names
    raw_data.at[i, "spoken_languages"] = spoken_languages_names
    raw_data.at[i, "keywords"] = keywords_names

In [14]:
raw_data[["genres", "production_companies", "production_countries", "spoken_languages","keywords"]].head()

,genres,production_companies,production_countries,spoken_languages,keywords
0,"[Action, Adventure, Science Fiction]","[Marvel Studios, Pascal Pictures, Columbia Pic...",[US],"[en, tl]","[new york city, hero, villain, comic book, seq..."
1,"[Crime, Mystery, Thriller]","[6th & Idaho, Dylan Clark Productions, DC Film...",[US],[en],"[dc comics, crime fighter, secret identity, vi..."
2,"[Horror, Thriller]","[20th Century Studios, Flitcraft]",[US],[en],"[based on novel or book, winter, isolation, bl..."
3,"[Animation, Comedy, Family, Fantasy]","[Walt Disney Animation Studios, Walt Disney Pi...",[US],"[en, es]","[magic, musical, forest, family relationships,..."
4,"[Action, Thriller, Crime]","[Bright Lights Films, uMedia, Mahi Films]","[BE, FR]",[fr],[remake]

We finally have lists of valid JSON strings inside the columns. We are now ready to flatten the data and perform one-hot encoding. Whether or not a column should be flattened or one-hot encoded depends on the structure of the model being used. Hence, we define functions to perform either for future use.

In [11]:
# creates a flat dataframe based on any column
def flatten(df: pd.DataFrame, cols: list):
    """
    INPUTS:
        df:     (pd.DataFrame) a dataframe
        cols:   (list) list of column names in df
    OUTPUTS:
                (pd.DataFrame) a dataframe flattened according to cols
    """

    for col in cols:
        df = df.explode(col)
    
    return df

# creates a new one-hot encoded dataframe based on any column
def one_hot(df: pd.DataFrame, cols: list):
    """
    INPUTS:
        df:     (pd.DataFrame) a dataframe
        cols:   (list) list of column names in df
    OUTPUTS:
                (pd.DataFrame) a dataframe one-hot encoded according to cols
    """
    # flatten data on col
    flat_df = flatten(df, cols)
    
    # one-hot encode flat_df using pd.get_dummies()
    return pd.get_dummies(flat_df, columns=cols).groupby(flat_df.index).max()

Now we work with `cast` and `crew` columns. For any movie, `cast` (or `crew`) contains a list of people stored as dictionaries. Hence, we need a different approach to flatten the data for people columns.

In [12]:
# # creates a flat dataframe based on any column
def flatten_people(df: pd.DataFrame, col: str):
    """
    INPUTS:
        df:     (pd.DataFrame) a dataframe
        col:    (str) cast or crew
    OUTPUTS:
                (pd.DataFrame) a dataframe flattened according to col
    """

    ls_of_temps = []
    for i in range(0, df.shape[0], 1):
        temp_df = pd.json_normalize(df[col][i])
        temp_df["movie_id"] = df["id"][i]
        temp_df["movie_title"] = df["title"][i]

        temp_df.columns = [col + "_tmdb_" + x if x == "id" else x for x in temp_df.columns]
        temp_df.columns = [col + "_" + x if x == "name" else x for x in temp_df.columns]
        
        ls_of_temps.append(temp_df)
    
    return pd.concat(ls_of_temps)

Once flattened, `one_hot()` can be used.

We store the cleaned data for use in the next notebook.

In [13]:
%store raw_data

Stored 'raw_data' (DataFrame)